<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.spring.ps.mapper.categoryMapper">
 	
 	
 	<select id="getCategoryList" parameterType="HashMap" resultType="categoryVO">
 	
 		
 		<![CDATA[ 
 			${sql}
		]]>
		
		
 	</select>
 	<select id="categroyChk" parameterType="HashMap" resultType="int">
 	
 		
 		<![CDATA[ 
 			${sql}
		]]>
		
		
 	</select>
 	<select id="getCategoryOne" parameterType="HashMap" resultType="String">
 	
 		
 		<![CDATA[ 
 			${sql}
		]]>
		
		
 	</select>
 	<insert id="categoryInsert" parameterType="HashMap" >
 	
 		
 		<![CDATA[ 
 			${sql}
		]]>
		
		
 	</insert>
 		<insert id="insertSubCategory" parameterType="HashMap">
			<![CDATA[
 			${sql}
		]]>
	</insert>
	<insert id="insertParentCategory" parameterType="HashMap">
			<![CDATA[
 			${sql}
		]]>
	</insert>
 	<select id="getNewSaleCategoryList" parameterType="HashMap" resultType="categoryVO">
 	
 		
 		<![CDATA[ 
 			${sql}
		]]>
		
		
 	</select>
 	<select id="getBrandCategoryList" parameterType="HashMap" resultType="categoryVO">
 	
 		
 		<![CDATA[ 
 			${sql}
		]]>
		
		
 	</select>
 	
 	
	<select id="getCountSubCategoryProduct" parameterType="HashMap"
		resultType="categoryVO">
		<![CDATA[
 			${sql}
		]]>

	</select>
	
	<select id="getCountParentCategoryProduct" parameterType="HashMap"
		resultType="categoryVO">
		<![CDATA[
 			${sql}
		]]>

	</select>
	
 </mapper>