<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.ps.mapper.productMapper">

	
	<select id="getProductList" parameterType="HashMap" resultType="productVO">
		<![CDATA[ 
 			
 			
 			${sql}
		]]>
		
	</select>
	
	<select id ="countProduct" parameterType="HashMap" resultType="int">
		<![CDATA[ 
 			${sql}
		]]>
	</select>
	

	
	 <select id="getProductOne" parameterType="HashMap" resultType="productVO">
		<![CDATA[ 
 			${sql}
		]]>
		
	</select>
	

	<update id="stateChange"  parameterType="HashMap">
	<![CDATA[ 
 			${sql}
		]]>
	</update>
	
	<update id="pcntDecrease"  parameterType="HashMap">
	<![CDATA[ 
 			${sql}
		]]>
	</update>
	
	<insert id="productInsert"  parameterType="HashMap">
	<![CDATA[ 
 			${sql}
		]]>
	</insert>
	<update id="productUpdate"  parameterType="HashMap">
	<![CDATA[ 
 			${sql}
		]]>
	</update>
	<delete id="productDelete"  parameterType="HashMap">
	<![CDATA[ 
 			${sql}
		]]>
	</delete>
	
	

</mapper>