<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.ps.mapper.productMapper">


	<insert id="productInsert" parameterType="HashMap" >

 		<![CDATA[
 				
 				${sql1}
 		
	
		]]>
		
		<selectKey resultType="int" keyProperty="pnum" order="AFTER">
					<![CDATA[
						${sql2}
					]]>
		</selectKey>
		
	</insert>
	<update id="productRegUpdate"  >

 		<![CDATA[ 
 			${sql}
		]]>
		
		
	</update>
	<update id="productUpdate"  >

 		<![CDATA[ 
 			${sql}
		]]>
		
		
	</update>
	
	<select id="getProductList" parameterType="HashMap" resultType="productVO">
		<![CDATA[ 
 			${sql}
		]]>
		
	</select>
	
	 <select id="getProductOne" parameterType="HashMap" resultType="productVO">
		<![CDATA[ 
 			${sql}
		]]>
		
	</select>
	



</mapper>