<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.ps.mapper.qnaMapper">

	<insert id="insertQnA" parameterType="HashMap">
		<![CDATA[
			${sql}
		
		]]>
	
	</insert>
	<insert id="answerInsert" parameterType="HashMap">
		<![CDATA[
			${sql}
		
		]]>
	
	</insert>
	
	<select id="getQnAList" parameterType="HashMap" resultType="qnaVO">
		<![CDATA[
			${sql}
		
		]]>
	
	
	</select>
	<select id="getAllQnAList" parameterType="HashMap" resultType="qnaVO">
		<![CDATA[
			${sql}
		
		]]>
	
	
	</select>
	<select id="getQnACntList" parameterType="HashMap" resultType="qnaVO">
		<![CDATA[
			${sql}
		
		]]>
	
	
	</select>
	<select id="getReplyList" parameterType="HashMap" resultType="qnaVO">
		<![CDATA[
			${sql}
		
		]]>
	
	
	</select>
	<select id="getMyQnAList" parameterType="HashMap" resultType="qnaVO">
		<![CDATA[
			${sql}
		
		]]>
	
	
	</select>
	<select id="getQnAEachCntList" parameterType="HashMap" resultType="qnaVO">
		<![CDATA[
			${sql}
		
		]]>
	
	
	</select>
	
	<delete id="QnADelete" parameterType="HashMap">
		<![CDATA[
			${sql}
		
		]]>
	</delete>
	
	<select id="getMyQnACnt" parameterType="HashMap" resultType="int">
	<![CDATA[
			${sql}
		
		]]>
	</select>
</mapper>