@charset "UTF-8";

.admin-ui-menu {
	overflow: hidden;
}

.admin-ui-menu>img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	opacity: .9;
}

.admin-ui-box {
	background-color: #90f3f24a;
	border-radius: 8px;
	color: #6b6c6b;
}

.admin-ui-box:hover {
	cursor: pointer;
	box-shadow: 1px 1px 20px 1px #82c3c2;
}

.admin-ui-box:active {
	cursor: pointer;
	box-shadow: 1px 1px 10px 3px #a8d1d0 inset;
}

.page-emptied-admin {
	height: 3rem;
}

.admin-shop-search-form {
	width: 50%;
	margin: 0px 0 px 0 px auto;
}

.insert-product-btn {
	background-color: rgb(71, 213, 212);
	color: #fff;
}

.prod-list-oneLine {
	padding: 0.5 rem;
	border: 1 px solid;
}

.prod-list-img-box {
	
}

.categoryList {
	padding-left: 2rem;
	padding-right: 2rem;
}

.category-list-one {
	display: inline !important;
}

.category-list-one-btn {
	background-color: antiquewhite;
	font-weight: bold;
}

.category-editor-btn {
	background-color: antiquewhite;
}

.category-update-btn {
	color: #0ca60c;
}

.category-delete-btn {
	color: red;
}

.category-update-card-body {
	margin: 0.5rem;
	padding: 0.5rem;
	padding-top: 1rem;
	background-color: antiquewhite;
	font-weight: bold;
}

.category-list-one.btn-group>.btn-group:not(:last-child)>.btn,
	.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

#psi-btn {
	border: unset;
	border-radius: 8px;
	background-color: #90f3f24a;
}

.select-list-one {
	width: 200px;
	max-height: 300px;
	margin: 0px auto;
	border: 2px solid #bbb;
	border-radius: 8px;
	padding: 0.5rem;
}

.select-list-one>img {
	width: -webkit-fill-available;
}

.select-img-none-guide.show {
	display: block;
}

.select-img-none-guide.hide {
	display: none;
}

.select-img-cancle {
	float: right;
	background-color: #fff;
	border: 2px solid rgb(0 0 0/ 90%);
	border-radius: 10px;
	color: red;
	margin-bottom: 0.5rem;
}