@charset "UTF-8";

.admin-content-box {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.admin-content-item {
	padding: 1rem;
	box-shadow: 3px 3px 3px #0000006b;
	border-radius: 5px;
	transition-duration: 0.3s;
	border: 1px solid #ececec;
	background-color: #7fe7d542;
}

.admin-item-title {
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-weight: bold;
	line-height: 2;
}

.admin-item-img {
	padding: 2rem;
}

.admin-content-item:hover {
	cursor: pointer;
}

.admin-content-item:active {
	margin-left: 5px;
	margin-top: 5px;
	box-shadow: none;
}

.product-img-box-3>img {
	width: 50px;
	height: auto;
}

.page-reload-btn>a {
	text-align: center;
}

.page-reload-btn>span {
	font-size: 10px;
	font-weight: bold;
}

.product-insert-btn {
	background-color: #7fe7d5;
	font-weight: bold;
}

.col-form-label {
	font-weight: bold;
	line-height: 2.5;
}

.product-img-box-4 {
	height: inherit;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	border: 1px solid  #cccccc73;
	
}
 
.product-img-box-4>img {
	max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    filter: opacity(.3);
    
}
