@charset "UTF-8";

.ps-a-logo {
	display: inline-block;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
}

.ps-a-001 {
	color: #fff;
	font-size: 1.5rem
}

.ps-a-002 {
	font-weight: bold;
	font-size: 1.5rem;
}

.ps-a-003 {
	color: #007bff;
}

.ps-btn:focus {
	box-shadow: 0 0 0 0.2rem rgb(14, 217, 185);
}

.ps-btn-001 {
	background-color: #7fe7d5;
	width: 100%;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	color: #000;
	margin-bottom: 1rem;
}

.ps-btn-002:hover {
	filter: opacity(0.7);
}

.ps-btn-003 {
	width: 3rem;
}

.ps-btn-004 {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	width: 50%;
	font-size: 1.5rem;
}
.ps-btn-005{
	width:15rem; 
	font-size:1.5rem;
}

/*btn-group  */
.ps-btn-group-001 {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.ps-btn-group-002 {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
	justify-content: center;
}