@charset "UTF-8";






.ps-a-003 {
	color: #007bff;
}

.ps-btn:focus {
	box-shadow: 0 0 0 0.2rem rgb(14, 217, 185);
}



.ps-btn-003 {
	width: 3rem;
}

.ps-btn-004 {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	width: 50%;
	font-size: 1.5rem;
}
.ps-btn-005{
	width:15rem; 
	font-size:1.5rem;
}

/*btn-group  */
.ps-btn-group-001 {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.ps-btn-group-002 {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
	justify-content: center;
}