@charset "UTF-8";

.cart-list{
	
	border-bottom : 1px solid #ccc;
}

.product-content-box > p{
	
	
	margin: unset;
}

.product-img-box-5 > img{
	
	width: 150px;
    height: auto;
} 

.span-cart-pname{
	
	font-weight: bold;
}