@charset "UTF-8";

.category-menu>* {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.category-list {
	background-color: #fff;
	border-bottom: 3px solid #e5e5e5;
}

.category-menu-btn {
	font-weight: bold;
	font-size: 1.5rem;
}

.ps-dropdown-content.category-menu-content {
	left: 0px;
}

.category-menu-li>span, .category-sub-menu-li>span {
	display: block;
	font-size: 1rem;
	padding: .5rem;
}

.category-menu-li>span:hover, .category-sub-menu-li>span:hover {
	background-color: #ede5e5;
	font-weight: bold;
	cursor: pointer;
}

.category-sub-menu-ul {
	display: none;
}

.category-sub-menu-li {
	text-indent: 1rem;
}

.prodChg {
	color: red;
	font-weight: bold;
}

.category-menu-li.show>span {
	background-color: #ede5e5;
	font-weight: bold;
	color: red;
}

.category-li-span {
	border-bottom: 1px solid #ccc;
}

.category-page-name {
	border-bottom: 1px solid #cccccc73;
	font-weight: bold;
	font-size: 1rem;
	line-height: 3;
	text-indent: 10px;
}

.category-page-cnt {
	font-size: .75rem;
	border-bottom: 1px solid #ccc;
	line-height: 3;
	font-weight: 500;
	text-indent: 10px;
}

.product-list {
	padding-right: unset;
}

.product-img-box-1 {
	width: 100%;
	height: 260px;
	border-radius: 8px;
	overflow: hidden;
	text-align: center;
}

.product-img-box-1>img {
	width: -webkit-fill-available;
	height: inherit;
	object-fit: cover;
}
.sort-select{
	
	width: 120px;
    font-size: 12px;
    font-weight: bold;
}