@charset "UTF-8";
/* 헤더 */
.ps-header {
	line-height: 1;
	border-bottom: 2px solid #e5e5e5;
	background-color: #7fe7d5;
	padding: 1rem;
}

/* 카테고리   */
.ps-category-group{
	
	padding-top :.25rem;
	padding-bottom :.25rem;
	border-bottom: 1px solid #ccc;
	
}