@charset "UTF-8";

/*ps-ul*/
.ps-ul-006 {
	padding: 1rem;
}

.ps-title-004 {
	display: block;
	font-size: 1.75rem;
	font-weight: bold;
}

.ps-title-005 {
	padding: 1rem 1rem 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	display: block;
}

.ps-title-006 {
	font-size: 1.25rem;
	font-weight: bold;
}

/*ps-input  */
.ps-input-002 {
	width: 3rem;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-top: unset;
	border-bottom: unset;
	border-radius: unset;
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
}

/* list  */
.ps-product-list-002 {
	
}
/* ps-img-box  */
.ps-img-box-001>img {
	width: -webkit-fill-available;
	height: auto;
}

.ps-img-box-002 {
	border-right: 1px solid #dee2e6;
}

.ps-img-box-002>img {
	width: 10rem;
}

.ps-img-box-004 {
	
}

.ps-img-box-004>img {
	width: 3rem;
}

/* ps-info-box  */
.ps-info-box-001 {
	padding: .5rem;
	background-color: #d6f7f287;
}

.ps-info-box-002 {
	padding: 1rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* product  */

/* ps-content  */
.ps-content-001 {
	
}

/*ps-input-group  */
.ps-input-group-001 {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-bottom: 1px solid #ccc;
}
/* ps-group  */
.ps-group-004 {
	margin-bottom: 1rem;
}

.ps-group-004>.badge {
	padding: .25rem 0px;
}

.ps-group-005 {
	display: flex;
	justify-content: space-between;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: .5rem;
}

.ps-group-006 {
	display: flex;
	justify-content: space-between;
	margin-bottom: .5rem;
}

.ps-group-007 {
	display: flex;
	justify-content: space-between;
}

.ps-group-008 {
	font-size: 2rem;
	font-weight: bold;
}

/* ps-label  */
.ps-label-001 {
	font-weight: bold;
	font-size: 1.25rem;
}

.ps-span-008 {
	font-size: 1.25rem;
	font-weight: bold;
}

.ps-span-009 {
	font-size: 1rem;
}
/* feedback  */
.invalid-feedback {
	display: block;
}

.invalid-feedback span {
	display: none;
}

/* category  */
.open {
	font-weight: bold;
	color: red;
}

/* ps-card  */
.ps-cardheader-001 {
	text-align: center;
	padding: unset;
}

.ps-ul-007 {
	margin: unset;
}

.ps-ul-007>li:nth-child(1), .ps-ul-007>li:nth-child(2), .ps-ul-007>li:nth-child(3)
	{
	border-right: 1px solid #ccc;
}

.ps-li-005>a {
	padding: 0.5rem;
	display: block;
	background-color: #d6f7f2;
}

.ps-tab {
	color: #707070;
}

.ps-tab.active {
	background-color: #7fe7d5;
	font-weight: bold;
}

.tab-content.show {
	
}