@charset "UTF-8";

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #000;
}

button {
	background-color: unset;
	border: unset;
}

button:focus {
	outline: unset;
}

ul {
	list-style: none;
	padding: unset;
}

.division-line-1 {
	border-right: 1px solid  #ced4da;
	margin: 0.5rem;
	width: 1px;
	height: 0.5rem;
}
